* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #000;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 20px 50px;
}
.center{
    transform: translate(-50%);
    left: 50%;
}
.centerall{
    transform: translate(-50%, -50%);
    left: 50%;
    top:50%;
}
.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.nav {
    width: 50%;
    height: 10%;
    background-color: hsla(0, 0%, 11%, 0.315);
    backdrop-filter: blur(20px);
    border: 1px solid #8f8f8f;
    border-radius: 40px;
    position: absolute;
    top: 20px;
    transform: translateX(-50%);
    left: 50%;
    box-shadow: black 0px 5px 20px 0;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2fr 2fr 2fr;
    place-items: center;
    padding:10px 30px;
    z-index: 10;
}
.logo {
    width: 40px;
}
.title{
    font-weight: 600;
    font-size: 15px;
}
.page{
    font-size: 13px;
    padding:8px 12px;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.active{
    background-color: #fff;
    color: #000;
}
.page:hover{
    background-color: #fff;
    color: #000;
}
.bg-video{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    z-index: 0;
}
.bg{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000088;
}
.head{
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    width: 100%;
    text-align: center;
}
.head1{
    font-size: 60px;
    margin:0;
}
.para1{
    font-size: 13px;
    margin: 0 0 40px 0;
}
.para2{
    font-size: 18px;
    margin:2px;
}
#dob {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    display: block;
    margin: auto;
    text-align: center;
    font-family: "Finger Paint", sans-serif;
    width: 20%;
    font-size: 18px;
    background-color: #00000000;
    backdrop-filter: blur(10px);
    border: 1px solid #8f8f8f;
}
#dob::-webkit-calendar-picker-indicator{
    filter: invert(1);
    cursor: pointer;
}
#btn {
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "Finger Paint", sans-serif;
    cursor: pointer;
    width: 15%;
    background-color: #fff;
    color: #000;
    backdrop-filter: blur(10px);
    border: 1px solid #8f8f8f;
    transition: 0.3s;
    margin:10px;
}
#btn:hover{
    background-color: #00000000;
    color:#fff;
}
.year-sec {
    width: 50%;
    flex-wrap: wrap;
    transition: 1s;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0084ff;
    margin: 5px;
    transition: 1s;
    animation: circle 0.3s ease forwards;
    display: none;
    font-size: 10px;
}

@keyframes circle {
    0% {
        width: 0px;
    }

    100% {
        width: 20px;
    }
}